
table{
    margin-top: 5px;
}
th{
    font-size: 20px;
}
h2{
    margin-top: 10px;
}

h4{
    margin-top: -7px;
    color: #454961;
}

p{
    margin-top: -7px;
    color:#515151;
    font-size: 15px;
}

